img {
    width: 100%;
}
.titulo {
    display: inline-block;
}
.titulo:hover {
    cursor: pointer;
}

.mayor_edad {
    color: cornflowerblue;
}

.menor_edad {
    color: crimson;
}

.adulto {
    color: white;
}