img {
    width: 100%;
}

.titulo:hover {
    cursor: pointer;
}

.mayor_edad {
    color: cornflowerblue;
}

.menor_edad {
    color: crimson;
}

.adulto {
    color: darkblue;
}

.bold {
    font-weight: 800;
}